.tooltip {
  border: 1px solid #cb181d;
  padding: 5px;
  color: #cb181d;
}

.svg-wrapper {
  margin-top: 50px;
  text-align: center;
}

.provinces {
  fill: none;
  stroke: #777;
  stroke-width: 1px;
  stroke-linejoin: round;
}

.cities {
  fill: white;
  stroke: #aaa;
  stroke-width: 0.2px;
  stroke-linejoin: round;
}

.active {
  fill: orange;
}

.q0 { fill: #ffffff; }
.q1 { fill: #fdebcf; }
.q2 { fill: #f59e83; }
.q3 { fill: #e55a4e; }
.q4 { fill: #cb2a2f; }
.q5 { fill: #70161d; }