name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v1
      with:
        python-version: '3.x'
    - run: python -c "import sys; print(sys.version)"
    - name: generate data
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        python main.py
    - name: build frontend
      run: |
        npm install
        npm run build
